@{
    ViewBag.Title = "Contact";
}

<br />
@foreach (MyAppMVC.Models.Card b in Model)
{
    <td><p> @b.CardName</p></td>
    <td><p> @b.Id</p></td>
    <td><p>@b.Money</p></td> 
    <td><p @b.NumberCard></p></td>
    <td><p>@b.Users</p></td> 
}